* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: "Poppins";
  }
html{
    font-size: 60%;
    overflow-x: hidden;
    cursor: url('cursor.png'), auto;
}
body{
    background-color: black;
    color: white;
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 2rem 15%;
    background-color: rgba(0, 0, 0, 0.233);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

#menu-icons{
    font-size: 3.5rem;
    color: #ea580c;
}
.logo{
    font-size: 3rem;
    color: white;
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s ease-in-out;

}
.logo:hover{
    transform: scale(1.1);
}
span{
    background: linear-gradient(270deg,yellow,rgb(235, 87, 13));
    background-clip: text;
    color: transparent;
}
.navbar a{
    font-size: 1.8rem;
    color: white;
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease-in-out;
    border-bottom: 3px solid transparent;
}
.navbar a:hover{
    color: #ea580c;
    border-bottom: 3px solid #ea580c;
}
.gradient-btn{
    font-size: 1.8rem;
    background: linear-gradient(270deg,yellow,rgb(235, 87, 13));
    border-radius: 3rem;
    padding: 1rem 2rem;
    letter-spacing: 1px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    color: white;
    border: none;
    text-wrap: nowrap;
}
.gradient-btn:hover{
    background: black;
    border: 2px solid orangered;
    transition: 0.1s;
    transform: scale(1);
    box-shadow: 0 0 25px 5px orangered;
}
section{
    min-height: 100vh;
    padding: 10rem 4%;
}
.home{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15rem;
}
.home-content{
    display: inline-flex;
    align-items: flex-end;
    flex-direction: column;
    text-align: right;
}
.home-content h1{
    font-size: 7rem;
    font-weight: 700;
    margin-top: 1.5rem;
    line-height: 1;
}
.home-content h3{
    margin: 1rem;
    font-size: 3rem;
}
.home-content p{
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.8;
}
.home-video video{
    width: 70vh;
    border-radius: 3rem;
    box-shadow: 0 0 25px orangered;
    transition: 0.4s ease-in-out;
    justify-content: center;
}
.home-video video:hover{
    box-shadow: 0 0 25px orangered,
                0 0 50px orangered,
                0 0 75px orangered,
                0 0 100px orangered;   
}
.social-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 2.1rem;
    padding: 2rem;
    background: transparent;
    border: 2px solid #ea580c;
    border-radius: 50%;
    color: #ea580c;
    margin: 2rem 0.5rem;
    transition: 0.3s ease-in-out;
}
.social-icons a:hover{
    color: white;
    transform: scale(1.1)translateY(-5px);
    background-color: black;
    box-shadow: 0 0 25px #ea580c;
}
.btn-group{
    gap: 1.5rem;
    display: flex;
}
.btn{
    display: inline-block;
    padding: 1rem 2rem;
    background-color: transparent;
    border: 2px solid #ea580c;
    font-size: 1.5rem;
    color: yellow;
    border-radius: 2rem;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    font-weight: 500;
    margin: 2rem 0.5rem;
}
.btn:hover{
    background-color: #ea580c;
    color: black;
    font-weight: 600;
    transform: scale(1.1);
    box-shadow: 0 0 25px #ea580c,
                0 0 50px #ea580c;
}

.main {
    min-height: 100vh;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: black;
  }

.main .image-container {
    padding: 10px;
}

.main .image-container .image {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main .image-container .image img {
    width: 350px;
    align-items: center;
}

.main .image-container h1 {
    color: white;
    text-align: center;
    margin-bottom: 10px;
    font-size: 6rem;
}

.main .image-container p {
    color: white;
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: 40px;
}

.main .input {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40vw;
    height: 50px;
    border-radius: 20px;
    background: rgba(248, 204, 29, 0.824);
    cursor: pointer;
}

.main .input .talk {
    background: transparent;
    outline: none;
    border: none;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    cursor: pointer;
}

.main .input .talk i {
    font-size: 2rem;
    color: white;
}

.main .input .content {
    color: white;
    font-size: 1.5rem;
    margin-right: 2rem;
}

.video-content video{
        height: 100vh;
        width: 100%;
        position: relative;
        background-size: cover;
        display: flex;
        background: url('invideo-ai-1080\ Deep\ Fake\ Face\ Videos_\ The\ Future\ and\ De\ 2024-08-22.mp4'), center;
        align-items: center;
        justify-content: center;
}
